/* ================================ */
/* ===== Navigation Bar       ===== */
/* ================================ */
nav .brand-logo {
    color: #fff;
}

nav ul a:hover {
    background-color: #fff;
    color: #000;
}

.snipcart-total-items {
    display: inline;
    color: #fff;
    background-color: #000;
}

/* ================================ */
/* ===== Parallax Sections    ===== */
/* ================================ */
.logoPicture {
    width: 28%;
}

#rawCoffeeParallaxImage {
    left: 29%;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

/* ================================ */
/* ===== Cards, Icons         ===== */
/* ================================ */
.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

i.right {
    margin-top: 13px;
}

.material-icons {
    display: inline;
}

.inlineIcon {
    display: inline;
}

.button-collapse {
    color: #26a69a;
}

/* ================================ */
/* ===== General Styles       ===== */
/* ================================ */
p {
    line-height: 2rem;
}

.justifyText {
    text-align: justify;
    text-justify: inter-word;
}

/* ================================ */
/* ===== Custom Blend Section ===== */
/* ================================ */
.customBlendCompaniesFirstRowImages {
    width: 100px;
    margin: 0 20px;
}

#roosterTeethImage {
    margin-bottom: 13px;
}

#helmBootsImage {
    margin-bottom: 20px;
}

.customBlendCompaniesSecondRowImages {
    width: 220px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

#retailMeNotImage {
    margin-bottom: 22px;
}

#birdsBarbershopImage {
    
}

/* ================================ */
/* ===== Footer               ===== */
/* ================================ */
.socialMediaIcons {
    float: right;
    width: 10%;
    padding-top: 5px;
}

.socialMediaIcons:hover {
    filter: invert(25%);
}

/* ================================ */
/* ===== Media Queries        ===== */
/* ================================ */
@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    .socialMediaIcons {
        width: 16%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }

    .logoPicture {
        width: 50%;
    }

    #rawCoffeeParallaxImage {
        left: -30%;
    }

    .customBlendCompaniesFirstRowImages {
        display: block;
        padding: 0;
        margin: 0 auto;
    }

    .socialMediaIcons {
        width: 20%;
    }
}